.btn-pill {
  width: 170px;
  height: 60px;
  padding: 10px 16px;
  border-radius: 35px;
  text-align: center;
  font-size: x-large;
  line-height: 1.42857;
  border-width: 2px;
}

.btn-pill:hover {
  color: #F04875;
}
