.card-more {
  /* height: 274px; */

  /* background: #FFFFFF; */
  border-radius: 15px;
  padding: 0.5rem;
  /* text-align: center; */
}

.card-title {
  font-size: x-large;
  font-weight: 00;
  font-size: 27px;
  line-height: 33px;
  color: #F04875;
}
