h1 {
  color: white;
  font-size: 100px;
}

article {
  color: white;
  font-size: xx-large;
}

.header-main {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.down-arrow {
  margin-top: 5rem;
  text-align: center;
}
