.about-me {
	color: white;
}

.card-custom {
  opacity: 0.3; /* 30% opacity */
  background-color: #fff; /* White background */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
  width: 200px; /* Fixed width */
  height: 200px; /* Fixed height to make it square */
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
